.dhtSensorData {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 60%;
  height: 60%;
  position: relative;
}

.homeWrapper {
  margin-left: 10px;
}

.homeWrapper .dhtSensorData > div {
  position: absolute;
  font-family: "Raleway", Helvetica, sans-serif;
}