<br>{{dhtData?.humidity == null ? 0 : dhtData?.humidity}}%
<br>{{dhtData?.tempC == null ? 0 : dhtData?.tempC}}C
<br>{{dhtData?.tempF == null ? 0 : dhtData?.tempF}}F
<h3>Last updated: {{dhtData?.time*1000 | date: 'EEE HH:mm:ss'}}</h3>
<!-- <br>Last Updated {{date}} seconds ago -->
<br>
<div id="tempC" class="dhtSensorData" (click)="convertTemp($event)"></div>
<div id="humidity" class="dhtSensorData"></div>
<br>
<!-- Initialize min/max with DHT11 range -->
{{ initProgressBar("#tempC", 0, 50, dhtData?.tempC == null ? 0 : dhtData?.tempC) }}
{{ initProgressBar("#humidity", 20, 90, dhtData?.humidity == null ? 20 : dhtData?.humidity) }}
<!-- <script>

</script> -->